<style type="text/css">
  .template-about .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-about .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-about page-width page-margin center">
  <h1 class="title">
    {{ page.title }}
  </h1>
  <p>
    {{ page.content }}
  </p>
</div>